/* li {
  display: flex;
  justify-content: center;
    /* padding: 5px;
    margin: 5px;
    background: #faebd7; */
  /* }

  #devoured {
    position: relative;
    display: block;

  }

  #toDevour {
    position: relative;
    display: block;

  }

  #title {
    width: 100%;
    displ
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .container-fluid {
    display: flex;
  justify-content: center;
  } */

  /* .list-o-burgers {
    display: flex;
    justify-content: center;
}

.yummy-burger {
    margin: 0 50px;
}

.yummy-burger img {
    width: 200px;
} */ 